<h1>Welcome to MyBlog</h1>

<% if can? :read, Article %>
<p>Articles 
<td><%= link_to 'View articles', articles_path %></td>
<%end%>

<p>Category </br>
<td><%= link_to 'View categories', categories_path %></td>
<% if user_signed_in? %>
<p>Profile Picture </br>
<td><%= link_to 'Profilepic', profilepics_path %></td>
<%end%>
 <% if can? :manage, User %>
<p>All Users</br>
<td><%= link_to 'Manage users', users_path %></td>
<%end%>

<% if user_signed_in? %>
 <% if can? :create, Article %>
<% if @number!=0 %>

 </br>
<p>Pending Article
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Category</th>
  </tr>
 
 <% @articles.each do |article| %>
    <tr>
    	 <%if article.username == current_user.username %> 
    	 
    	    <td><%= article.title %></td>
            <td><%= article.text %></td>
            <td><%= article.category_name %></td>  </br>
          <%end%>
          
  <% end %>
<%end%>
<%end%>
<%end%>