<h1>New Tag </h1>


  <%= form_for [@article, @tags] do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  </br>
 <%= f.submit "Add"%>
  <% end %>

<%= link_to 'Back', article_tags_path(@article) %>

