<table>
  <tr>
    <th>Categories:</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
    	   <a href= "category.name" ></a>   
     <td><%= link_to category.name, category_path(category) %></td> 
    <!--  <td><%= category.name %></td>  -->
      <!-- <td><%= link_to 'Show', category_path(category) %></td>  -->
    </tr>
  <% end %>
</table>
</br>
<p> Add New Category</br>
<%= link_to 'Add category', new_category_path %></br>
<% if can? :create, Article %>
<p> Add New Article</br>
<%= link_to 'Add article', new_article_path %></br>
<%end%>
<!-- -->
</br>
<%= link_to 'Back', welcome_index_path %>
