<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% content_for :title do %> <%= @category.name.capitalize %> - My Blog<% end %>
</head>
<body>
    <div class="container">
    	<div class="page-header">
    	  <h1> <%= @category.name.capitalize %></h1>   
    	</div>
        <div class="row"> 
        	<table class="table table-striped">
          <tr>
            <th>Title</th>
          <% if can? :delete, Article %>
            <th colspan=3>Options</th>
            <%end%>
          </tr
          <% @articles.each do |article| %>
            <tr>	
            	<%if article.published %> 
                 <a href= "article.title"  ></a>
                 <td><%= link_to article.title, article_path(article) %></td>              
                  <% if can? :delete, Article %>
                     <td><%= link_to 'Delete',article_path(article), method: :delete, confirm: 'Are you sure?' %></td>
                  <%end%>
              <%end%>
            </tr>
          <% end %>
        </table>
</div>
</div>
</body>
</html>