<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= content_for?(:title) ? yield(:title) : "My Blog" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <div class="row"> 	
        	</br>       </br>	
          <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
       	      <div class="navbar-header"> 
                <a class="navbar-brand" href="#"><strong>MyBlog</strong></a>
              </div>
              <div>	
                <ul class="nav nav-pills navbar-left">
       		      <li  class="<%= 'active' if current_page?(root_path) %>"><a href="http://localhost:3000"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
      		     <% if can? :read, Article %>
      		      <li class="<%= 'active' if current_page?(articles_path) %>"><a href= "http://localhost:3000/articles/"><span class="glyphicon glyphicon-file"></span> Articles </a></li>
       		     <%end%>
       		      <li class="<%= 'active' if current_page?(categories_path) %>"><a href="http://localhost:3000/categories/ " ><span class="glyphicon glyphicon-list-alt"></span> Categories </a></li>
       		        	 <% if user_signed_in? %>
       		      <li class="<%= 'active' if current_page?(profilepics_path) %>"><a href="http://localhost:3000/profilepics" ><span class="glyphicon glyphicon-picture"></span> Pictures </a></li>

                <li class="<%= 'active' if current_page?(user_comments_path(current_user)) %>"><%= link_to 'Messages', user_comments_path(current_user) %> </li>
          	    			<%end%>
          	    </ul>
          	 <% if user_signed_in? %>
                 <ul class="nav nav-pills navbar-right">  
                   <li ><%= image_tag(current_user.avatar.url(:medium),height: '50', width: '50') %>
                    <div class="navbar-text navbar-right">Signed in as <strong><%= current_user.role %></strong> with <strong><%= current_user.email %></strong>
                  
                   <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-bar link' %> |
                 	 <%= link_to "Logout", destroy_user_session_path, method: :delete,  :class => "nav-bar link" %></li>                 
                 </br>
            <% else %>
        			     <ul class=" pull-right nav nav-pills ">  			     	
          				 	<li class=" pull-right " ><a href="http://localhost:3000/users/sign_up" ><span class="glyphicon glyphicon-user"></span> Sign up </a></li>   
          				 	<li ><a href="http://localhost:3000/users/sign_in" ><span class="glyphicon glyphicon-user"></span> Login </a></li>         
       						 </ul>
            <% end %>
                 </ul>   
    	              </div>
            </div>
	     </nav>
       </div> 
    </div> 
</body>

<br /><br />
<%= yield %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

</body>
</html>
